<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer Info</title>
    
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            Hotel Management System
          </a>
        </div>
      </nav>
      <div class="container">
    <div class="row">

        <div class="container my-2 py-2">
            <h1 style="text-align: center;">Customers MVC </h1>
        </div>
    
        <div class="col-md-4 text-center my-2 py-2">
            <div class="card bg-primary">
                <div class="card-body text-center my-5">
                    <p class="card-text"><h3> Add Customer </h3></p>
                    <a href="addcustomer" class="btn btn-primary"><h5>View</h5></a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 text-center my-2 py-2">
            <div class="card bg-success">
                <div class="card-body text-center my-5">
                  <p class="card-text"><h3>Edit Customer</h3></p>
                  <a href="editcustomer" class="btn btn-success"><h5>View</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center my-2 py-2">
            <div class="card bg-primary">
                <div class="card-body text-center my-5">
                  <p class="card-text"><h3>View Customers</h3></p>
                  <a href="viewcustomer" class="btn btn-primary"><h5>View</h5></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center my-2 py-2">
            
        </div>
        <div class="col-md-4 text-center my-2 py-2">
            <div class="card bg-primary">
                <div class="card-body text-center my-5">
                    <p class="card-text"><h3> Delete Customer </h3></p>
                    <a href="deletecustomer" class="btn btn-primary"><h5>View</h5></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center my-2 py-2">
            
        </div>
    
    </div>
</div>
    <div class="row pb-5"></div>

    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="mx-auto">
          <p style="text-align: center;"> Done by Nidhi Gupta (PES2UG19CS256), Minal H R (PES2UG19CS234) and Nikila S (PES2UG19CS260)</p>
        </div>
      </nav>
    <div class="container-fluid">
    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>


