<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer Info</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
            <a class="navbar-brand" href="/">Hotel Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item disabled">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
        </div>
        </nav>

        <div class="container">
            <div class="mx-auto py-3 mb-5 mt-3">
                <div class="jumbotron" style="background:#4bb543;">
                    <h1 class="display-4"><b>Welcome to Hotel Management System App</b></h1>
                    <hr class="my-4" style="border-color: white;">
                    <p><h5>A user friendly app to help you manage your customers, rooms and employees.</h5></p>
                    <p class="lead"><h5>Why use our app?</h5></p>
                    <hr class="my-4" style="border-color: white;">
                    <div class ="row">
                        <div class="col-md-4">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Record keeping of customers, rooms and employees</li>
                                <li class="list-group-item">Minimize financial loss due to errors</li>
                                <li class="list-group-item">Help management in decisions</li>
                                <li class="list-group-item">Overcome the old procedures</li>
                                <li class="list-group-item">Easy information refreshing</li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="my-4 py-4">
                                <br>
                                <h5><p>Already have an account?</p></h5>
                                <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="my-4 py-4">
                                <br>
                                <h5><p>Click here to create a new user</p></h5>
                                <a class="btn btn-primary btn-lg" href="newuser" role="button" style="vertical-align: middle">Create User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="mx-auto">
              <p style="text-align: center;"> Done by Nidhi Gupta (PES2UG19CS256), Minal H R (PES2UG19CS234) and Nikila S (PES2UG19CS260)</p>
            </div>
          </nav>
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>

    <h2> Hotel Management System</h2>
    <h3> SRN: PES2UG19CS256 </h3>

    <a href="viewcustomer">View Customer</a>
    <a href="addcustomer">Add Customer</a>
    <a href="editcustomer">Edit Customer</a>
    <a href="deletecustomer">Delete Customer</a>